---
import Layout from "../layouts/Layout.astro";
import Hamburger1 from "../components/Hamburger1.astro";
---

<Layout title="Hamburgers">
  <main>
    <Hamburger1 />
  </main>
</Layout>

<style></style>
